{# src\Dpp\StatsBundle\Resources\views\Default\demo.html.twig #}

{% extends "DppStatsBundle::layout.html.twig" %}

{% block title %}
	Demo {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts.js') }}"></script>
{% endblock %}
{% block Dpp_body %}
	<script type="text/javascript">
    {{ chart(linechart) }}
</script>

<div id="linechart" style=" min-width: 400px; height: 400px;"></div>
{% endblock %}
