{# src/Dpp/DemoBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  Dpp - {{ parent() }}
{% endblock %}
{% block headsurtitre %}
  <div id="site-name" >BackOffice test</div>                  
{% endblock%}
{% block navigation %}
    <li><a href="{{ path('dpp_customers_products') }}">Products</a></li>
{% endblock %} 
{% block containt %}
    <div class="span2 spangris">
        Ici un texte d'explication
    </div>
    <div class="span10">
            {% block Dpp_body %}
            
            {% endblock %}
    </div>
{% endblock %}
