{# src\Dpp\CustomersBundle\Resources\views\Products\productCreate.html.twig #}

{% extends "DppCustomersBundle::layout.html.twig" %}

{% block Dpp_body %}
<h3> {{ 'Dpp.product.add'|trans }} </h3>
<div class="label-and-input">
	{% include "DppCustomersBundle:Products:productForm.html.twig" %}
</div><br><br><br>
	
{% endblock %}
