{# src\Dpp\CustomersBundle\Resources\views\Products\productCreate.html.twig #}

{% extends "DppCustomersBundle::layout.html.twig" %}

{% block Dpp_body %}
<div class="row span10">
<h3> {{ 'Dpp.product.add'|trans }} </h3>
<div class="label-and-input">
	{% include "DppCustomersBundle:Products:productCreateForm.html.twig" %}
</div>
	
{% endblock %}
