/*!
 * Pmeweb - complement css
 * 
 */
html, body, container  {
    height : 100%;
}
body  {
    margin: 0;
}
.panel {
  position: relative;
  background-color: #000000;
  min-height: 100%;
   margin: 0;
}

.footer {
    height: 50px;
    width: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.well {
    background-color: inherit;
    border: none;
}
.margeR0 {
    margin-left: 0px;
}
.table {
  background-color: #eeeeee;
}
.table-bordered td{
    padding: 5px;
}
.table-interne {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-size: 75%;
}


.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #666666;
}
.table-interne {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    font-size: 75%;
}
.table-interne  tbody > tr:nth-child(odd) > td ,
.table-interne  tbody > tr:nth-child(odd) > th  {
  background-color: #ffffff;
}

.table-interne > thead > tr > th,
.table-interne > tbody > tr > th,
.table-interne > tfoot > tr > th,
.table-interne > thead > tr > td,
.table-interne > tbody > tr > td,
.table-interne > tfoot > tr > td {
  border: 1px solid #ddd;
}

.spangris {
    background-color: #eeeeee;
}
.boite {
    padding-left:5px;
    background-color: #eeeeee;
    border-top-style:ridge;
    border-top-width:1px;
    border-top-color: #aaaaaa;
    border-left-style:ridge;
    border-left-width:1px;
    border-left-color: #aaaaaa;
    border-right-style:ridge;
    border-right-width:1px;
    border-right-color: #000000;
    border-bottom-style:ridge;
    border-bottom-width:1px;
    border-bottom-color: #000000;
    
}
th,
td {
    margin: 5px;
}
td {
    font-weight: normal;
}
.container-fluid {
    color : #FFFFFF;
    background-color : #000000;
}

.tigerfond {
    background-color : #FFAA00;
}
.zone-bordered {
    border: 1px solid #FFAA00;
    padding-top: 10px;
    -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
#header{
    height: 140px;
    border-bottom-style:ridge;
    border-bottom-width:1px;
    border-bottom-color: green;
    background-color : #FFAA00;
}

.header{
    height: 160px;
    border-bottom-style:ridge;
    border-bottom-width:1px;
    border-bottom-color: green;
    background-color : #FFAA00;
}

.table-bordered {
    background-color: #777777;
}
.btn-default {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #999999;
}
.hero-unit {
  padding: 20px;
}
.txtred {
    color:  red;
}
.txttiger {
    color:  #FFAA00;
}
.txtcentre {
    text-align: center;
}
#name-and-slogan {
  padding-top: 5px;
  margin: 0 0 30px 15px; /* LTR */
}
#site-name {
  font-size: 1.821em;
  color: #686868;
  line-height: 1;
  margin-left: 17px;
}
#site-slogan {
  font-size: 0.929em;
  margin-top: 4px;
  margin-left: 17px;
  word-spacing: 0.1em;
  font-style: italic;
}
.labelform {
    padding-top: 5px;
    margin-left:10px;
    display: inline-block;
}
.label-and-input {
  padding-top: 5px;
  border: none;
}
.label-and-input label {
  display: inline-block;
}
.pmeweb-float-pad {
    float: right;
    padding-top: 5px;
}
.pmeweb-msg {
    float: left;
    color: red;
    font-style: italic;
}
.connection {
  margin-top: -15px;
  font-size: 12px;
  font-weight: normal;
}
.navigation-bar {
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    background-color: inherit;
}
.a-neutre {
    color: inherit; 
    text-decoration: none;
}
.flot-left {
    float: left;
}
iselect,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input { 
    height: 25px;
}

