{# src/Dpp/DemoBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  Dpp - {{ parent() }}
{% endblock %}


{% block containt %}
    <div class="span2 spangris">
        Ici un texte d'explication
    </div>
    <div class="span10">
            {% block DppDemo_body %}
            
            {% endblock %}
    </div>
{% endblock %}
