{# src/Dpp/UsersBundle/Resources/views/User/userform.html.twig #}

 {% form_theme form 'DppUsersBundle:Default:fields.html.twig' %}
 
<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
    
        <div class="row"> 
            <div class="span2"> 
                <a href=" {{ returnUrl }} " class="btn "><i class="icon-chevron-left"></i>Cancel</a>        
            </div>
            <div class="span2"> 
                <input type="submit" class="btn pull-right btn-primary"  />      
            </div>
        </div>
    </form>
</div>