{# src\Dpp\UsersBundle\Resources\views\User\useradd.html.twig #}

{% extends "DppUsersBundle::layout.html.twig" %}

{% block Dpp_user_content %}
<h3 class="txtcentre"> {{ 'Dpp.user.new_title'|trans }} </h3>
<div class="label-and-input">
	{% include "DppUsersBundle:User:userform.html.twig" %}
</div><br><br><br>
	
{% endblock %}
