{# src\Dpp\CustomersBundle\Resources\views\Customers\customerCreate.html.twig #}

{% extends "DppCustomersBundle::layout.html.twig" %}

{% block Dpp_body %}
<div class="row span10">
<h3> {{ 'Dpp.customer.add_customer'|trans }} </h3>
<div class="label-and-input">
	{% include "DppCustomersBundle:Customers:customerCreateForm.html.twig" %}
</div>
	
{% endblock %}
