{# src\Pmeweb\TmshBundle\Resources\views\Default\index.html.twig #}

{% extends "PmewebTmshBundle::layout.html.twig" %}

{% block title %}
	Acceuil {{ parent() }}
{% endblock %}

{% block Pmeweb_body %}
	<h1>TimeSheet : pour tous</h1>
	<ul>
			<li>La suite ici</li>
	</ul>
{% endblock %}
